.Choose_Main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 13;
    background: rgba(0, 0, 0, 0.05);
}

.Choose_item {
    width: 46%;
    font-family: "WebgalUI", serif;
    cursor: pointer;
    padding: 0.375em 1em 0.375em 1em;
    font-size: 265%;
    color: #8E354A;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    background: url('./item.png');
    background-blend-mode: color-dodge;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0.5em 0 0.25em 0;
    transition: background-color 0.5s, border 0.5s, font-weight 0.5s, box-shadow 0.5s;

    &:hover:not(.Choose_item_disabled) {
        background: url('./item.png'), url('./add.png');
        background-blend-mode: color-dodge;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
    }
}

.Choose_item_disabled {
    cursor: not-allowed;
    filter: grayscale(80%);
}


.Progress_bar {
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    margin-top: 5px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: rgba(0, 150, 255, 0.8);
        width: var(--progress-width, 0%);
        transition: width 0s;
        /* 动态设置，不预设固定的动画 */
    }
}