.infoContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url('./info.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  text-align: center;
  animation: fadeIn 0.25s ease-in-out;
  z-index: 999;
}

.infoContainer:empty {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}